.ModalPlate_Box {
  background-color: #FFF;
  border: #666 1px solid;
  border-radius: 5px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  min-height: 200px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -100px; }
  .ModalPlate_Box h1 {
    font-weight: normal;
    font-size: 18pt;
    color: #333;
    margin: 0px;
    padding: 0px;
    padding: 15px 25px 10px 25px;
    border-bottom: #CCC 1px solid; }
  .ModalPlate_Box p {
    font-weight: normal;
    font-size: 14pt;
    color: #333;
    margin: 0px;
    padding: 0px;
    padding: 30px 25px 30px 25px; }
  .ModalPlate_Box button {
    float: left;
    width: 44%;
    outline: none;
    background-color: #EEE;
    color: #333;
    padding: 10px 0px 10px 0px;
    border: #CCC 1px solid;
    border-radius: 5px; }
    .ModalPlate_Box button.button-hello {
      background-color: #0D6CE0;
      border-color: #0850A8;
      color: #FFF; }
    .ModalPlate_Box button:first-of-type {
      margin-left: 25px;
      margin-right: 10px; }

.alert-bg-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5); }
